@import './../variables.scss';
.main {
  height: 95vh;
  padding: $small-spacer;
  background-color: $main-bg-colour;
  border: $large-border dotted $magenta;
  .content {
    
    background-color: $content-bg-colour;
  }
}