@import './../variables.scss';
.main {
  height: auto;
  padding: $small-spacer;
  background-color: $main-bg-colour;
  @include container-border($dark-red);
  .content {
    background-color: $content-bg-colour;
  }
}