@import './../../variables.scss';

.quick-actions-container {
  background-color: $light-blue;
  border: $large-border solid $light-purple;
  .quick-action {
    input {
      width: $input-width;
    }
    span.quick-action-task {
      font-weight: $bold;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}