<div class="quick-actions-container">
  <h2>Quick Actions</h2>
  <!-- <div class="quick-action">
    <h3>Medical</h3>
    <span class="quick-action-task">Panandol</span>
    <input type="number" value="2">
    <button type="button">
      <fa-icon [icon]="faMinus"></fa-icon>
    </button>
    <button type="button">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <button type="button">Add</button>
  </div> -->
  <ng-container *ngIf="quickActions$ | async as quickActions">
    <div class="quick-action" *ngFor="let quickAction of quickActions">
      <h3>
        {{ quickAction.groupTitle }}
      </h3>
      <ng-container *ngFor="let action of quickAction.actions">
        <span class="quick-action-task">{{ action.name }}</span>
        <input type="number" [value]="action.defaultValue" />
        <button type="button">
          <fa-icon [icon]="faMinus"></fa-icon>
        </button>
        <button type="button">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <button type="button">Add</button>
      </ng-container>
    </div>
  </ng-container>
</div>
