@import './../../variables.scss';

.quick-actions-container {
  background-color: $light-blue;
  border: 3px dashed $dark-blue;
  .quick-action {
    border: 1px solid red;
    span.quick-action-task {
      font-weight: $bold;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}