@import './../../variables.scss';

.menu {
  display: flex;
  .menu-item {
    text-decoration: none;
    span {
      font-variant: small-caps;
    }
  }
  border-bottom: 1px solid red;
  margin-bottom: $spacer;
}