@import './../../variables.scss';

.menu {
  display: flex;
  .menu-item {
    text-decoration: none;
    color: inherit;
    span {
      font-variant: small-caps;
    }
  }
  margin-bottom: $small-spacer;
}